.navbar-header{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center; 
    position: relative;
    background-color: #2AA7FF;
}
.navbar-header p {
    animation: moveText 20s linear infinite;
    background-color: #2AA7FF;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-starts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.navbar-logo{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4px;
}
.navbar-logo p:first-child {
    color: #FFFFFF;
    background-color: #2AA8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23.02px;
    text-align: center;
    border-radius: 4px;
}
.navbar-logo p:last-child {
    color: #2AA8FF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
}
.navbar-list{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    gap: 3rem;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    color: #102851;
}
.navbar-list li:last-child button {
    background-color: #2AA8FF;
    width:  130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
}
.menu-icon{
    display: none;
}
@media  (max-width: 1000px) {
    .navbar-list {
        position: absolute;
        right: 0;
        top: 83px; 
        width: 0px;
        height: auto; 
        /* gap: 2rem; */
        overflow: hidden;
      }
    .navbar-list.open{
       flex-direction: column;
       width: 270px;
       gap: 1rem;
       background-color: #FFFFFF;
    }
    .navbar-list.open :hover{
        background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
        color: #2AA7FF;
     }
    .menu-icon{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .navbar-starts {
        align-items: flex-start;    
    }
    .navbar-list ul {
        display: flex;
        flex-direction: column;
      }
    
      .navbar-list ul li {
        margin-right: unset;
        margin-top: 22px;
      }
}

@media screen and (min-width: 640px) {
    .navbar-starts{
        padding: 1rem;
    }
}
@media  screen and  (min-width: 768px) {
    .navbar-starts{
        padding: 1rem 2rem;
    }
}
@media  screen and  (min-width: 1024px) {
    .navbar-starts{
        padding: 1rem 7rem;
    }
    .navbar-header p {
        animation: none;
    }
}



@keyframes moveText {
    0% {
        transform: translateX(100%);
        opacity: 1;
      }
      50% {
        transform: translateX(-100%);
        opacity: 1;
      }
      51% {
        /* opacity: 0; */
      }
      100% {
        transform: translateX(100%);
        /* opacity: 0; */
      }
  }